In [1]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

# pass in column names for each CSV as the column name is not given in the file and read them using pandas.
# You can check the column names from the readme file
#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

#Reading items file:
i_cols = ['movie_id', 'title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols, encoding='latin-1')

In [2]:
movies

,movie_id,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,0
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
print(users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [52]:
type(ratings)

pandas.core.frame.DataFrame

In [4]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [2]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [4]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]
print(n_users,n_items)

data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]
    
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

943 1682

In [15]:
data_matrix.shape

(943, 1682)

In [5]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [11]:
user_prediction.shape

(943, 1682)

In [12]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

# åŸºäºŽç”¨æˆ·çš„æŽ¨è----æŸ¥è¯¢æ¯ä¸ªç”¨æˆ·çš„æœªçœ‹ç”µå½±æŽ¨èåˆ—è¡¨

In [6]:
user_id = 3
topN = 30

#åˆ—å‡ºå·²ç»çœ‹è¿‡çš„ç”µå½±
seen_movies=ratings.loc[(ratings.user_id== user_id) & (ratings.rating >=4)]
seen_movies=seen_movies.join(movies.set_index('movie_id'), on='movie_id', how='inner')
#åŠ å…¥actionæ˜¯ä¸ºäº†åœ¨left joinçš„æ—¶å€™ï¼Œåˆ¤æ–­Nan
seen_movies_id = seen_movies[["movie_id","Action"]]
seen_movies=seen_movies[["movie_id","title","rating"]]
print("################### ç”¨æˆ·å·²ç»çœ‹è¿‡çš„ç”µå½±ï¼š########################")
print(seen_movies[:topN])

#æ‰¾åˆ°æŽ¨èæ®·å‹¤çš„é¢„æµ‹æ‰“åˆ†
#rec_list = user_prediction[user_id-1].tolist()
rec_list = list(enumerate(user_prediction[user_id-1],start=1))
rec_movies=pd.DataFrame(rec_list, columns=['movie_id', 'rating'])

# åŽ»é™¤å·²ç»çœ‹è¿‡çš„ç”µå½±
rec_movies=rec_movies.join(seen_movies_id.set_index('movie_id'), on='movie_id', how='left')
rec_movies=rec_movies[np.isnan(rec_movies["Action"])][["movie_id","rating"]]

#æŒ‰è¯„åˆ†é™åºï¼Œåˆ—å‡ºæŽ¨èçš„æœªçœ‹è¿‡çš„ç”µå½±
rec_movies=rec_movies.join(movies.set_index('movie_id'), on='movie_id', how='inner')
rec_movies=rec_movies[["movie_id","title","rating"]]
rec_movies=rec_movies.sort_values('rating',ascending=False)
print("")
print("################### ç³»ç»ŸæŽ¨èçš„ç”µå½±ï¼š############################")
print(rec_movies[:topN])

################### ç”¨æˆ·å·²ç»çœ‹è¿‡çš„ç”µå½±ï¼š########################
       movie_id                                              title  rating
3840        331                                   Edge, The (1997)       4
6178        328                           Conspiracy Theory (1997)       5
9021        318                            Schindler's List (1993)       4
11227       348                          Desperate Measures (1998)       4
14381       327                                    Cop Land (1997)       4
24412       321                                      Mother (1996)       5
24716       260                               Event Horizon (1997)       4
29583       320  Paradise Lost: The Child Murders at Robin Hood...       5
33981       342                Man Who Knew Too Little, The (1997)       4
35195       329                          Desperate Measures (1998)       4
37188       181                          Return of the Jedi (1983)       4
48447       344                                Apostle, The (1997)       4
65959       347                                 Wag the Dog (1997)       5
92178       340                               Boogie Nights (1997)       5
96761       346                                Jackie Brown (1997)       5

################### ç³»ç»ŸæŽ¨èçš„ç”µå½±ï¼š############################
     movie_id                                         title    rating
49         50                              Star Wars (1977)  2.639987
99        100                                  Fargo (1996)  2.174489
173       174                Raiders of the Lost Ark (1981)  1.849782
257       258                                Contact (1997)  1.834326
0           1                              Toy Story (1995)  1.795904
126       127                         Godfather, The (1972)  1.795143
97         98              Silence of the Lambs, The (1991)  1.718182
285       286                   English Patient, The (1996)  1.682933
55         56                           Pulp Fiction (1994)  1.630629
171       172               Empire Strikes Back, The (1980)  1.576422
287       288                                 Scream (1996)  1.536120
6           7                         Twelve Monkeys (1995)  1.488230
120       121                 Independence Day (ID4) (1996)  1.487431
293       294                              Liar Liar (1997)  1.436160
236       237                          Jerry Maguire (1996)  1.417110
299       300                          Air Force One (1997)  1.416260
116       117                              Rock, The (1996)  1.385529
78         79                          Fugitive, The (1993)  1.366181
172       173                    Princess Bride, The (1987)  1.365493
203       204                     Back to the Future (1985)  1.360466
312       313                                Titanic (1997)  1.342090
221       222               Star Trek: First Contact (1996)  1.327242
209       210     Indiana Jones and the Last Crusade (1989)  1.310467
167       168        Monty Python and the Holy Grail (1974)  1.297036
63         64              Shawshank Redemption, The (1994)  1.251679
68         69                           Forrest Gump (1994)  1.242449
21         22                             Braveheart (1995)  1.219423
194       195                        Terminator, The (1984)  1.178954
150       151  Willy Wonka and the Chocolate Factory (1971)  1.174512
95         96             Terminator 2: Judgment Day (1991)  1.174175

In [13]:
user_prediction.shape

(943, 1682)

In [14]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

# åŸºäºŽç”µå½±çš„æŽ¨è

In [13]:
item_prediction.shape

(943, 1682)

In [38]:
item_prediction[1:10]

array([[0.10854432, 0.13295661, 0.12558851, ..., 0.13445801, 0.13657587,
        0.13711081],
       [0.08568497, 0.09169006, 0.08764343, ..., 0.08465892, 0.08976784,
        0.09084451],
       [0.05369279, 0.05960427, 0.05811366, ..., 0.05793681, 0.06167338,
        0.06228061],
       ...,
       [0.0906776 , 0.09324217, 0.11337969, ..., 0.13386342, 0.12840319,
        0.13013888],
       [0.04446489, 0.05055583, 0.05160457, ..., 0.05511418, 0.05545723,
        0.05553877],
       [0.36606029, 0.40207446, 0.42393615, ..., 0.4630846 , 0.45213368,
        0.45289842]])

In [14]:
user_id = 3
topN = 30

#åˆ—å‡ºå·²ç»çœ‹è¿‡çš„ç”µå½±
seen_movies=ratings.loc[(ratings.user_id== user_id) & (ratings.rating >=4)]
seen_movies=seen_movies.join(movies.set_index('movie_id'), on='movie_id', how='inner')
#åŠ å…¥actionæ˜¯ä¸ºäº†åœ¨left joinçš„æ—¶å€™ï¼Œåˆ¤æ–­Nan
seen_movies_id = seen_movies[["movie_id","Action"]]
seen_movies=seen_movies[["movie_id","title","rating"]]
print("################### ç”¨æˆ·å·²ç»çœ‹è¿‡çš„ç”µå½±ï¼š########################")
print(seen_movies[:topN])

#æ‰¾åˆ°æŽ¨èæ®·å‹¤çš„é¢„æµ‹æ‰“åˆ†
#rec_list = user_prediction[user_id-1].tolist()
rec_list = list(enumerate(item_prediction[user_id-1],start=1))
rec_movies=pd.DataFrame(rec_list, columns=['movie_id', 'rating'])

# åŽ»é™¤å·²ç»çœ‹è¿‡çš„ç”µå½±
rec_movies=rec_movies.join(seen_movies_id.set_index('movie_id'), on='movie_id', how='left')
rec_movies=rec_movies[np.isnan(rec_movies["Action"])][["movie_id","rating"]]

#æŒ‰è¯„åˆ†é™åºï¼Œåˆ—å‡ºæŽ¨èçš„æœªçœ‹è¿‡çš„ç”µå½±
rec_movies=rec_movies.join(movies.set_index('movie_id'), on='movie_id', how='inner')
rec_movies=rec_movies[["movie_id","title","rating"]]
rec_movies=rec_movies.sort_values('rating',ascending=False)
print("")
print("################### ç³»ç»ŸæŽ¨èçš„ç”µå½±ï¼š############################")
print(rec_movies[:topN])

################### ç”¨æˆ·å·²ç»çœ‹è¿‡çš„ç”µå½±ï¼š########################
       movie_id                                              title  rating
3840        331                                   Edge, The (1997)       4
6178        328                           Conspiracy Theory (1997)       5
9021        318                            Schindler's List (1993)       4
11227       348                          Desperate Measures (1998)       4
14381       327                                    Cop Land (1997)       4
24412       321                                      Mother (1996)       5
24716       260                               Event Horizon (1997)       4
29583       320  Paradise Lost: The Child Murders at Robin Hood...       5
33981       342                Man Who Knew Too Little, The (1997)       4
35195       329                          Desperate Measures (1998)       4
37188       181                          Return of the Jedi (1983)       4
48447       344                                Apostle, The (1997)       4
65959       347                                 Wag the Dog (1997)       5
92178       340                               Boogie Nights (1997)       5
96761       346                                Jackie Brown (1997)       5

################### ç³»ç»ŸæŽ¨èçš„ç”µå½±ï¼š############################
      movie_id                                              title    rating
1553      1554                                Safe Passage (1994)  0.095239
1208      1209                                  Mixed Nuts (1994)  0.094587
1565      1566                    Man from Down Under, The (1943)  0.094525
1568      1569           Vie est belle, La (Life is Rosey) (1987)  0.094525
1576      1577  Death in the Garden (Mort en ce jardin, La) (1...  0.094525
1567      1568                       Vermont Is For Lovers (1992)  0.094525
1556      1557                                 Yankee Zulu (1994)  0.094525
1575      1576                     Hungarian Fairy Tale, A (1987)  0.094525
1574      1575      I, Worst of All (Yo, la peor de todas) (1990)  0.094525
1573      1574                              Pharaoh's Army (1995)  0.094525
1558      1559                          Hostile Intentions (1994)  0.094525
1560      1561         Tigrero: A Film That Was Never Made (1994)  0.094525
1578      1579                                 Baton Rouge (1988)  0.094525
1562      1563             Promise, The (Versprechen, Das) (1994)  0.094525
1571      1572                     Wend Kuuni (God's Gift) (1982)  0.094525
1563      1564                        To Cross the Rubicon (1991)  0.094525
1570      1571          Touki Bouki (Journey of the Hyena) (1973)  0.094525
1564      1565                                       Daens (1992)  0.094525
1569      1570                             Quartier Mozart (1992)  0.094525
1561      1562       Eye of Vichy, The (Oeil de Vichy, L') (1993)  0.094525
1566      1567                                     Careful (1992)  0.094525
1582      1583               Invitation, The (Zaproszenie) (1986)  0.094525
1586      1587                      Terror in a Texas Town (1958)  0.094525
1579      1580                                    Liebelei (1933)  0.094525
1547      1548                               The Courtyard (1995)  0.094525
1585      1586                              Lashou shentan (1992)  0.094525
1580      1581                      Woman in Question, The (1950)  0.094525
1545      1546                            Shadows (Cienie) (1988)  0.094525
1583      1584                     Symphonie pastorale, La (1946)  0.094525
1581      1582                                       T-Men (1947)  0.094525

In [36]:
movie_id_list=[331,318,1554,1209]
movie_id_list=pd.DataFrame(movie_id_list,columns=["movie_id"])

movies.join(movie_id_list.set_index('movie_id'), on='movie_id', how='inner')

,movie_id,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
317,318,Schindler's List (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Schindler's%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
330,331,"Edge, The (1997)",26-Sep-1997,NaN,http://us.imdb.com/M/title-exact?Edge%2C+The+(...,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1208,1209,Mixed Nuts (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Mixed%20Nuts%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1553,1554,Safe Passage (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Safe%20Passag...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0